body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
#titulo{
    padding: 10px 0;
    background-color: green;
    border-radius: 20px;
}
.botoes{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.botoes:hover{
    color: black;
}
#conteudo_principal{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    padding-bottom: 10px;
}
img{
    padding: 10px 0;
    border-radius: 25px;
}
#texto1{
    width: 75%;
    text-align:center;
}
#cursos{
    width: 100%;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
ul{
    padding-left: 50px;
    list-style-type: none;
}
.cursos{
    background-color: green;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 5px;
    transition: 0.3s;
}
.cursos:hover{
    background-color: white;
}
#rodape{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

/* PAGINA SISTEMAS PARA INTERNET */

#logo{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_logo{
    padding-left: 20px;
}
.menu{
    color: black;
    text-decoration: none;
}